<div class="link_feedback_link">
    <span class="ss-ellipsis"></span>
    <form action="/" class="link_feedback_form">
        <span class="ss-like feedback_icon"></span>
        <textarea name="like" placeholder="I like the link because..."></textarea>
        <br>
        <span class="ss-dislike feedback_icon"></span>
        <textarea name="dislike" placeholder="I don't like the link because..."></textarea>
        <br>
        <input type="hidden" value="{{ feedback_title }}" />
        <span class="link_feedback_success"></span>
        <input class="link_feedback_link_button" type="submit" value="Submit">
    </form>
</div>
