<div class="link_block">
    {% if link.commentary %}
    <div class="commentary">
        <span>
        {{ link.commentary | markdownify }}
        </span>
    </div>
    {% endif %}

    <div class="icon">
        <span class="{{ site.resource_type_to_icon_map[link.type] }}"></span>
        {% if link.opinion %}
        <span class="opinion {{ site.resource_type_to_icon_map[link.opinion] }}"></span>
        {% endif %}
    </div>
    <a class="link_url" href="{{ link.url }}">
        {{ link.title }}
    </a>

    <div class="more_link_data">
        <span class="domain">
        <a href="{{ link.domain_link }}">{{ link.domain }}</a>,
        </span>
        {% if link.date %}
        <span class="date">{{ link.date | date: "%Y" }},</span>
        {% endif %}
        <span class="authors">
        {% if link.authors.size == 1 %}
            by {{link.authors[0] }}
        {% endif %}
        {% if link.authors.size == 2 %}
            by {{link.authors[0] }} and {{link.authors[1] }}
        {% endif %}
        {% if link.authors.size > 2 %}
            by {{link.authors[0] }},
            {% for i in (1..link.authors.size-1 %}
            {{link.authors[i]}},
            {% endfor %}
            and {{link.authors[-1] }}
        {% endif %}
        </span>
        {% if link.found_on %}
        <span class="found_on">
        found on <a class="found_on_url" href="{{ link.found_on.url }}">{{ link.found_on.name }}</a>
        </span>
        {% endif %}
        {% if link.collection_link %}
        <span>from →&nbsp;<a href="{{ link.collection_link }}">{{ link.collection_title }}</a>
        </span>
        {% endif %}
    </div>

    {% if link.description and hide_description != true %}
    <div class="description">
        {% if link.description %}
        {{ link.description | markdownify }}
        {% endif %}
    </div>
    {% endif %}

    {% assign feedback_title = link.title %}
    {% include feedback_form.html %}

</div>
