lxml==4.5.0
requests==2.23.0
typing==3.7.4.1
dj-database-url==0.5.0
whitenoise==5.0.1
Django==3.1.13
django-pipeline==1.7.0
gunicorn[gevent]==20.0.4
Markdown==3.2.1
psycopg2==2.8.4
static3==0.7.0
pytz==2019.3
PyYAML==5.3
python-dateutil==2.8.1
bleach==3.1.1
django-redis-cache==2.1.0
django-clear-cache==0.3
libsass==0.19.4
