lxml
requests
typing
dj-database-url
whitenoise
Django==1.8
django-pipeline==1.5.4
reversion==0.2
django-reversion==1.9.3
gunicorn
Markdown
psycopg2
static3
pytz
PyYAML
python-dateutil
bleach
django-redis-cache
django-clear-cache==0.3
aiohttp
libsass