{% extends 'layouts/topic.html' %}
{% block content %}
    <form action="" method="post" id="topic-edit-form">
        {% csrf_token %}
        <div class="column">
            {% for resource in resources %}
                {% if resource.section != None %}
                    <h1 class="portlet">
                        <div class="portlet-header ui-widget-header ui-corner-all" contenteditable="false">
                            <span class='ui-icon ui-icon-minusthick portlet-toggle'></span>
                        </div>
                        <input value="{{ resource.section | un_markdownify }}"/></h1>
                {% elif resource.subsection != None %}
                    <h2 class="portlet">
                        <div class="portlet-header ui-widget-header ui-corner-all" contenteditable="false">
                            <span class='ui-icon ui-icon-minusthick portlet-toggle'></span>
                        </div>
                        <input value="{{ resource.subsection | un_markdownify }}"/>
                    </h2>
                {% elif resource.text %}
                    {{ resource.text | markdownify }}
                {% elif resource.separator %}
                    <div class="section_separator"></div>
                {% elif resource.link %}
                    {% include 'includes/link.html' with link=resource.link editing='contenteditable="true"' %}
                {% endif %}
            {% endfor %}
        </div>
        <nav class="edit-topic-add-element child-list-inline">
            <ul>
                <li><i title="Add a heading" class="ss-text bigger-header"></i></li>
                <li><i title="Add a subheading" class="ss-text smaller-header"></i></li>
                <li><i title="Add a link block" class="ss-link link"></i></li>
            </ul>
        </nav>
        <div class="save-topic-container">
            <input type="submit" value="Save this page" class="topic-edit-link" id="save-topic-page-button">
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.css"/>
    <style>
        .nav-item-placeholder {
            height: 15px;
            width: 80px;
            overflow: hidden;
            border: 1px dotted black;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    </style>
    <script>
        $(function () {
            $(".site-nav > ul").sortable({
                connectWith: ".site-nav ul",
                tolerance: "pointer",
                placeholder: "nav-item-placeholder",
                cancel: '.active, .new-topic',
                cursorAt: {top:10, left: 20}
            });


            $(".column").sortable({
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "portlet-placeholder ui-corner-all"
            });

            $(".portlet-toggle").click(function () {
                var icon = $(this);
                icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
                icon.closest(".portlet").slideUp(150, function () {
                    $(this).remove();
                });
            });
        });
    </script>
{% endblock %}