{% extends "layouts/default.html" %}
{% block extra_page_classes %}topic-view history-view{% endblock %}
{% block content %}
    <table>
    <tbody>
    {% for version in is_history %}
        <tr>
        <td>{{ version.revision.user.username }}</td>
        <td><a href="{{ version.revision.id }}/">{{ version.revision.date_created }}</a></td>
        <td><a href="../_edit/{{ version.revision.id }}/"><i class="ss-refresh"></i>Revert to this version</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="topic-actions">
        <a href=".." class="topic-edit-link ss-left">back to page</a>
    </div>
{% endblock %}
