{% extends "layouts/default.html" %}
{% block extra_page_classes %}topic-view history-view{% endblock %}
{% block content %}
    <table>
    <tbody>
    {% for version in is_history %}
        <tr>
        <td>{{ version.revision.user.username }}</td>
        <td><a href="{{ version.revision.id }}/">{{ version.revision.date_created }}</a></td>
        <td><a href="../_edit/{{ version.revision.id }}/"><i class="ss-refresh"></i>Revert to this version</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="topic-actions">
        {% if user_can_edit %}
            <a href="_edit/" class="topic-edit-link ss-write">edit this page</a>
        {% endif %}
        {% if not topic_path_is_root and user_can_edit %}
            <a href="_history/" class="topic-history-link ss-clock">see page history</a>
        {% endif %}
    </div>
{% endblock %}
