{% extends 'layouts/topic.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <a href="edit/" class="topic-edit-link ss-write">edit this page</a>
    {% endif %}
    {% for resource in resources %}
        {% if resource.section %}
            <div class="section_separator"></div>
            <h1>{{ resource.section | markdownify }}</h1>
        {% elif resource.subsection %}
            <h2>{{ resource.subsection | markdownify }}</h2>
        {% elif resource.text %}
            {{ resource.text | markdownify }}
        {% elif resource.link %}
            {% include 'includes/link.html' with link=resource.link %}
        {% endif %}
    {% endfor %}
{% endblock %}
