{% for category in page.categories %}
<div class="site-header-nav">
    <div class="wrapper">
        <div class="site-nav">
            <ul>
                {% for topic in category %}
                <li class="{% if page.nav_active contains topic.last %}active{% endif %}">
                    <a class="page-link" href="/topics/{{ topic | join: '/' }}/">
                        {{ topic.last | capitalize }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
