{% for category in page.categories %}
<div class="site-header-nav">
    <div class="wrapper">
        <div class="site-nav">
            <ul>
                {% for topic in category %}
                <li class="{% if page.nav_active contains topic %}active{% endif %}">
                    <a class="page-link" href="{{ topic }}/">
                        {{ topic | capitalize }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
