<header class="site-header">
    <div class="wrapper">
            <span class="site-icon">0100 0100 0101 0000 1001 1000</span>
            <a class="site-title " href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
            <ul>
                <li class="{% if page.nav_active == 'index' or page.categories.first == 'collections' %}active{% endif %}">
                    <a class="page-link" href="/">Collections</a>
                </li>
                {% for topic in site.topics %}
                {% if topic.title and topic.level == 1 %}
                <li class="{% if page.nav_active contains topic.title %} active{% endif %}">
                    <a class="page-link" href="{{ topic.url | prepend: site.baseurl }}">{{ topic.title | capitalize }}</a>
                </li>
                {% endif %}
                {% endfor %}

                <li class="nav-right {% if page.nav_active.first == 'about' %}active{% endif %}">
                    <a class="page-link" href="/about/">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

