<div class="link_block">
    <div class="icon {{ site.resource_type_to_icon_map[link.type] }}"></div>
    <a class="link_url" href="{{ link.url }}">
        {{ link.title }}
    </a>

    <div class="more_link_data">
        <span class="domain">
        <a href="{{ link.domain_link }}">{{ link.domain }}</a>,
        </span>
        {% if link.date %}
        <span class="date">{{ link.date | date: "%Y" }},</span>
        {% endif %}
        <span class="authors">
        {% if link.authors.size > 1 %}
            by {{link.authors[0]}}
        {% endif %}
        {% if link.authors.size == 2 %}
            and {{link.authors[1]}}
        {% endif %}
    </span>
        {% if link.found_on %}
        <span class="found_on">
        found on <a class="found_on_url" href="{{ link.found_on.url }}">{{ link.found_on.name }}</a>
        </span>
        {% endif %}
        {% if link.authors %}

        {% endif %}
    </div>

    <div class="description">
        {{ link.description | markdownify }}
    </div>

</div>
