{% if not html_body_only %}<!DOCTYPE html>
<html>
<title>{{ site.name }}{% block page_title %}{% endblock %}</title>
{% include 'includes/head.html' %}
<style>{{ site.css }}</style>

<body>
{% endif %}


{% include 'includes/header.html' %}

{% include 'includes/navbar.html' %}

<div class="page-content {% block extra_page_classes %}{% endblock %}">
    <div class="wrapper">
        {% for message in messages %}
            <div class="warning">
                {{ message | safe }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</div>

{% include 'includes/footer.html' %}
{% block scripts %}{% endblock %}
{% if not html_body_only %}
</body>

</html>{% endif %}