{% if not html_body_only %}<!DOCTYPE html>
<html>
<head>
<title>{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}</title>
{% include 'includes/head.html' %}
</head>
<style>{{ site.css }}</style>

<body>


<div class="ajax-content">
{% else %}{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}~~~
{% endif %}


{% include 'includes/header.html' %}

{% include 'includes/navbar.html' %}

<div class="page-content {% block extra_page_classes %}{% endblock %}">
    <div class="wrapper">
        {% for message in messages %}
            <div class="warning">
                {{ message | safe }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</div>

{% if not html_body_only %}
</div>

{% include 'includes/footer.html' %}
{% block scripts %}{% endblock %}
</body>

</html>{% endif %}