<!DOCTYPE html>
<html>

{% include 'includes/head.html' %}

<body>

{% include 'includes/header.html' %}

{% include 'includes/navbar.html' %}

<div class="page-content topic-view {% if is_editing %}topic-edit{% endif %}">
    <div class="wrapper">
        {% for message in messages %}
            <div class="warning">
                {{ message | safe }}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</div>

{% include 'includes/footer.html' %}
{% block scripts %}{% endblock %}
</body>

</html>
