<footer class="site-footer">
    <nav class="wrapper">
        <nav class="wrapper">
            <ul>
                <li><a href="https://techstore.club"><span class="t">Tech</span><span class="s">Store</span><span
                        class="c">Club</span></a></li>
                <li><a href="https://snc.io/_about/terms">Terms</a>
                    <a href="{% url 'topics:login' %}?fromlink=true&next={{ request.path }}">&amp;</a>
                        <a href="https://snc.io/_about/privacy">Privacy</a></li>
                <li><a href="https://creativecommons.org/licenses/by/4.0/">(CC BY 4.0)</a></li>
            </ul>
        </nav>
    </nav>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% load pipeline %}
{% javascript 'script' %}
