{% load staticfiles %}
<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            {% if site_logo == "logos/snc.svg" %}
                <img src="{% static site_logo %}" style="width: 60px" class="site-icon"/>
            {% else %}
                <img src="{% static site_logo %}" class="site-icon"/>
            {% endif %}
            <a href="/" class="site-title-text">{{ site.header }}</a>
        </div>
        <div class="site-login">
            {% if user.is_authenticated %}
                <form action="/_logout/" method="POST">
                    {% csrf_token %}
                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <input type="submit" value="Log out">
                </form>
            {% endif %}
        </div>
        <nav class="site-nav {% if editing_topic %}editing-topic{% endif %}">
            <ul>
                {% for topic in topics.0 %}
                    {% if topic.orig_name %}
                        <li
                                id="topic-{{ topic.id }}"
                                class="{% if topic.active %} active{% endif %}">
                            {% if is_editing and topic.active and topic.last_nav %}
                                <input class="page-link" name="rename_topic_name"
                                       value="{{ topic.orig_name }}"/>
                            {% else %}
                                <a class="page-link"
                                   href="{% url 'topics:get_topic' topic.name %}">{{ topic.orig_name }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
