{% load staticfiles %}
<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <img src="{% static "logo.svg" %}" class="site-icon"/>
            <a href="/" class="site-title-text">{{ site.header }}</a>
        </div>
        <div class="site-login">
            {% if user.is_authenticated %}
                <form action="/_logout/" method="POST">
                    {% csrf_token %}
                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <input type="submit" value="Log out">
                </form>
            {% else %}
                <a href="{% url 'topics:create_account' %}">Create account</a>
                <a href="{% url 'topics:login' %}?fromlink=true&next={{ request.path }}">Log in</a>
            {% endif %}
        </div>
        <nav class="site-nav {% if editing_topic %}editing-topic{% endif %}">
            <ul>
                {% for topic in topics.0 %}{% if topic.orig_name %}<li
                            id="topic-{{ topic.id }}"
                            class="{% if topic.active %} active{% endif %}">
                    {% if is_editing and topic.active and topic.last_nav %}
                        <input class="page-link" name="rename_topic_name"
                            value="{{ topic.orig_name }}"/>
                    {% else %}
                        <a class="page-link"
                           href="{% url 'topics:get_topic' topic.name|lower %}/">{{ topic.orig_name }}</a>
                    {% endif %}
                    </li>{% endif %}{% endfor %}
                {% include 'includes/new_topic_button.html' %}
            </ul>
        </nav>
    </div>
</header>
