{% load staticfiles %}
<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <img src="{% static "logo.svg" %}" class="site-icon"/>
            <a href="{{ site.baseurl }}/" class="site-title-text">{{ site.title }}</a>
        </div>
        <a href="/login" class="site-login">login</a>
        <nav class="site-nav">
            <ul>
                {% for topic in topics.0 %}
                {% if topic.name %}
                <li class="{% if topic.name|lower in nav_active %} active{% endif %}">
                    <a class="page-link" href="/topics/{{ topic.name|lower }}">{{ topic.name | title }}</a>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </nav>
    </div>
</header>

