<div class="link_block">
    {% if link.icon %}
        <img class="icon" src="{{ link.icon }}"/>
    {% endif %}
    <a class="link_url" href="{{ link.link }}">
        {{ link.title }}
    </a>
    {% if user.is_authenticated %}
        <form action="" method="post" class="link-tag">
            {% csrf_token %}
            <input type="hidden" name="link_tag" value="{{ link.id }}"/>
            <input type="text" name="tag_text" class="tag_text" title="Tag" placeholder="#tag"/>
            <input type="text" name="link_title" class="link_title" title="Link Title" placeholder="Link Title"/>
            <label class="link-delete"><input type="checkbox" name="link_delete" value="delete"><span>Delete</span>
            </label>
            <input type="submit"/>
        </form>
    {% endif %}
    <div class="tags">
        {% for tag in link.tags.all|slice:":7" %}
            <a href="{% url 'topics:get_topic' tag.slug %}"
               class="quick-link {% if tag.slug in selected_tags %}active{% endif %}">{{ tag.text.split|join:"&nbsp;" }}</a>
        {% endfor %}
    </div>
</div>
