<div class="link_block">
    {% if link.commentary %}
    <div class="commentary">
        <span>
        {{ link.commentary | markdownify }}
        </span>
    </div>
    {% endif %}

    <div class="icon">
        <span class="{{ site.resource_type_to_icon_map | get_item:link.type }}"></span>
        {% if link.opinion %}
        <span class="opinion {{ site.resource_type_to_icon_map | get_item:link.opinion }}"></span>
        {% endif %}
    </div>
    <a class="link_url" href="{{ link.url }}">
        {{ link.title }}
    </a>

    <div class="more_link_data">
        <span class="domain">
        <a href="{{ link.domain_link }}">{{ link.domain }}</a>,
        </span>
        {% if link.date %}
        <span class="date">{{ link.date | date:"Y" }},</span>
        {% endif %}
        <span class="authors">
        {% if link.authors|length == 1 %}
            by {{link.authors.0 }}
        {% endif %}
        {% if link.authors|length == 2 %}
            by {{link.authors.0 }} and {{link.authors.1 }}
        {% endif %}
        {% if link.authors|length > 2 %}
            by {{link.authors | join:", " }}
        {% endif %}
        </span>
        {% if link.found_on %}
        <span class="found_on">
        found on <a class="found_on_url" href="{{ link.found_on.url }}">{{ link.found_on.name }}</a>
        </span>
        {% endif %}
    </div>

    {% if link.description %}
    <div class="description">
        {% if link.description %}
        {{ link.description | markdownify }}
        {% endif %}
    </div>
    {% endif %}

    {% include 'includes/feedback_form.html' with feedback_title=link.title %}

</div>
