{% for subtopic in topics|slice:"1:" %}
    <div class="site-header-nav">
        <div class="wrapper">
            <div class="site-nav {% if editing_topic %}editing-topic{% endif %}">
                <ul>
                    {% for topic in subtopic %}
                        <li id="topic-{{ topic.id }}"
                            class="{% if topic.active %}active{% endif %}">
                            {% if is_editing and topic.active and topic.last_nav %}
                                <input class="page-link" name="rename_topic_name"
                                       value="{{ topic.orig_name }}"/>
                            {% else %}
                                <a class="page-link"
                                   href="{% url 'topics:get_topic' topic.path|join:"/" %}">{{ topic.orig_name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
