<div class="homepage-block">
    <h1 class="page-heading">New Topics</h1>
    <table class="post-list">
        {% for post in site.posts %}
            <tr>
                <td><span class="post-meta">{{ post.date | date:"b-d, Y" }}</span></td>

                <td>
                    <a class="post-link"
                       href="{% url 'topics:get_topic' post.title %}">
                        {{ post.title }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
