/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
}

.site-header-nav {
    border-bottom: 1px solid $grey-color-light;
    min-height: 40px;
    position: relative;
}

.site-header-nav .site-nav {
  position: absolute;
  bottom: 0px;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-icon {
  padding-right: 5px;
  font-size: 5pt;
  overflow: hidden;
  display: inline-block;
  width: 37pt;

}

.site-nav {
  position: relative;
  bottom: 0px;
  max-width: 550px;
  .menu-icon {
    display: none;
  }

  .page-link {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      a {
        display: inline-block;
        padding: 2px 5px 0 5px;
        border: 1px solid $brand-color;
        border-bottom-width: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    li.active a {
      background-color: $brand-color;
      color: white;
    }
  }

  .nav-right {
    float: right;
  }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
