
.link_block {
  padding: 20px 55px 20px 55px;
  margin: 20px 0px 20px 0;
  position: relative;
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
  min-height: 35pt;
  a.link_url {
    font-size: 14pt;
    font-weight: bold;
  }
  .more_link_data {
    font-size: 8pt;
  }
  .icon {
    position: absolute;
    left: 14px;
    top: 23px;
    font-size: 18pt;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .description {
    margin-top: 10px;
  }
}
