.link_feedback_link {
  float: right;
  position: absolute;
  display: block;
  padding: 5px 5px 19px 10px;
  border: 1px solid transparent;

  font-size: 8pt;
  right: 0px;
  text-align: right;
  top: 0px;
  color: rgba(128, 128, 128, 1);

  form {
    display: none;
  }

  span.feedback_icon {
    height: 12pt;
    vertical-align: top;
    display: inline-block;
  }

  textarea {
    resize: vertical;
  }

  &.submit_success:hover {
    background-color: #EFFFED;
  }

  &:hover {
    min-width: 165px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 2px;
    box-shadow: 0px 1px 3px -2px grey;
    background-color: #eef;
    z-index: 1;

    form {
      display: block;
    }
  }
}
