{% extends "layouts/default.html" %}
{% block content %}
    <div class="login">
        <h2>Create Account</h2>
        {% if user.is_authenticated %}
            <p>You are already logged in!</p>
            <a href="/logout">Log out</a>
        {% else %}
            <form action="/create_account/" method="post" id="login-form">
                {% csrf_token %}
                {{ form }}

                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Register">
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        {% endif %}
    </div>
{% endblock %}
