{% extends "layouts/default.html" %}
{% block content %}
    <div class="login">
        <h2>Login</h2>
        {% if user.is_authenticated %}
            <p>You are already logged in!</p>
        {% else %}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% elif not fromlink %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'topics:login' %}" id="login-form">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-row">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div class="submit-row">
                    <input type="submit" value="Login"/>
                </div>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                {% endif %}
            </form>

            <p><a href="{% url 'topics:password_reset' %}">Lost password?</a></p>
        {% endif %}
    </div>
{% endblock %}