/**
 * Site header
 */
.site-header {
    border-top: 2px solid $brand-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
}

.site-header-nav {
    border-bottom: 1px solid $grey-color-light;
    min-height: 40px;
    position: relative;
}

.extra_empty_topic {
    border-bottom: none;
    &.new-topic {
        border-bottom: 1px solid $grey-color-light;
    }
}

.site-title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    a, a.visited {
        color: $grey-color-dark;
    }

    .site-title-text, .site-title-text:visited {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .site-icon {
        width: 20px;
        padding-right: 5px;
        vertical-align: initial
    }
}

.site-nav {
    position: relative;
    max-width: 525px;
    .menu-icon {
        display: none;
    }

    .page-link {
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    &.editing-topic ul li a {
        opacity: .2;
    }
    &.editing-topic ul li.new-topic a {
        opacity: 1;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 0;
            margin: 0 3px 0 0;
            height: 27px;
            overflow: hidden;
            vertical-align: bottom;
            &.ui-sortable-helper {
                box-shadow: 0 5px 17px -4px rgba(0, 0, 0, 0.22);
                max-height: 27px !important;
                overflow: hidden;
                a {
                    background-color: white;
                }
            }
            a, input {
                display: inline-block;
                padding: 2px 5px 0 5px;
                border: 1px solid $brand-color;
                border-bottom-width: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            input {
                font-size: 12pt;
                width: 50px;
                height: 24px;
                font-family: $base-font-family;
            }
        }
        li.active a, li.active input {
            opacity: 1;
            background-color: $brand-color;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.22);
            color: white;
            text-shadow: 0 1px rgba(0, 0, 0, 0.4);
            vertical-align: bottom;
        }
    }

    .nav-right {
        float: right;
    }
}

.site-header-nav .site-nav {
    min-height: 41px;
    ul {
        min-height: 24px;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: inline-block;
    font-size: 16px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.intro-words {
    text-align: center;
    font-size: 12pt;
    color: dark-grey;
}

.homepage-blocks {
    display: -webkit-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.homepage-block {
    flex-basis: 230px;
    flex-grow: 1;
}

.new-links-block {
    flex-basis: 260px;
}

.newlinks-topic {
    color: grey;
    &:visited, &:hover, &:hover:visited {
        color: grey;
    }
}

.newlinks-link {
    margin-left: 20px;
}

.site-login {
    position: absolute;
    top: 4pt;
    right: 19pt;
    a, input {
        border: none;
        background-color: transparent;
        font-family: $base-font-family;
        font-size: 11pt;
        color: desaturate($brand-color, 10%);
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &:last-child {
            padding-left: 20px;
        }
    }
}
