.link_block {
    padding: 0 0 0 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;

    img.icon {
        width: 16px;
        vertical-align: baseline;
    }

    a.link_url {
        font-size: 14pt;
        line-height: 24pt;
    }
}
