a.link_url, h3.link_url {
    font-size: 14pt;
    font-weight: bold;
    width: 100%;
}

.link_block {
    padding: 20px 25px 20px 55px;
    margin: 20px 0 20px 0;
    position: relative;
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
    min-height: 35pt;
    .commentary {
        display: block;
        position: absolute;
        width: 160px;
        top: 0;
        right: -178px;
        text-align: left;
        color: lighten($grey-color-dark, 10%);
        padding-left: 10px;
        height: 100%;
        @include media-query($on-laptop) {
            display: auto;
            position: relative;
            left: auto;
            right: auto;
            width: auto;
            padding: 0;
            margin: 0;
        }
    }

    .tag {
        padding: 2px;
        .hash, .name {
            opacity: .3;
            font-weight: bold;
        }
    }

    .more_link_data {
        font-size: 8pt;
        width: 100%;
    }
    .icon {
        position: absolute;
        left: 14px;
        top: 23px;
        font-size: 18pt;
        width: 24px;
        &.mirror {
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
            -o-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
        .opinion {
            position: absolute;
            top: 7px;
            left: 0;
            color: white;
            font-size: 10pt;
            width: 100%;
            text-align: center;
        }
    }
    p:last-child {
        margin: 0;
        padding: 0;
    }
    .description {
        margin-top: 10px;
        font-size: 10pt;
    }

    .control-bar {
        position: absolute;
        right: 10px;
        top: 19px;
        width: 20px;
    }
    .control-bar a:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
