$gray_23: rgba(128, 128, 128, 0.23);
$color_mine_shaft_approx: #333;
$black: black;

%extend_1 {
    clear: both;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}

.login {
    border: 1px solid $gray_23;
    padding: 50px;
    border-radius: 10px;
    form {
        margin-top: 1em;
    }
    .form-row {
        padding: 4px 0;
        float: left;
        width: 100%;
        label {
            padding-right: 0.5em;
            line-height: 2em;
            font-size: 1em;
            clear: both;
            color: $color_mine_shaft_approx;
        }
        #id_username {
            @extend %extend_1;
        }
        #id_password {
            @extend %extend_1;
        }
        #id_password_confirm {
            @extend %extend_1;
        }
        #id_email {
            @extend %extend_1;
        }
    }
    .submit-row {
        clear: both;
        padding-top: 30px;
        text-align: center;
        input {
            padding: 3px 5px;
            color: $black;
            background-color: transparent;
            border: 1px solid $brand-color;
            border-radius: 4px;
        }
    }
    .password-reset-link {
        text-align: center;
    }
    span.help {
        font-size: 10px;
        display: block;
    }
}
