/* LOGIN FORM */


.login  {
   border: 1px solid rgba(128, 128, 128, 0.23);
  padding: 50px;
  border-radius: 10px;
}

.login form {
  margin-top: 1em;
}

.login .form-row {
  padding: 4px 0;
  float: left;
  width: 100%;
}

.login .form-row label {
  padding-right: 0.5em;
  line-height: 2em;
  font-size: 1em;
  clear: both;
  color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
  clear: both;
  padding: 6px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login span.help {
  font-size: 10px;
  display: block;
}

.login .submit-row {
  clear: both;
  padding-top: 30px;
  text-align: center;
}

.login .password-reset-link {
  text-align: center;
}

.login .submit-row input {
  padding: 3px 5px;
  color: black;
  background-color: transparent;
  border: 1px solid $brand-color;
  border-radius: 4px;
}
