.fill {
    display: block;
    width: 95%;
}

#markdown-toc {
    list-style: none;
    ul {
        list-style: none;
    }
    &:before {
        display: block;
        content: 'Contents';
        text-align: center;
        font-weight: bold;
    }
}
