/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  text-align: center;

  li, a {
    color: #bababa;
    font-size: 10pt;
  }
  a:visited {
    color: #bababa;
  }
  ul {
    list-style: none;
    li {
      display: inline;
      padding-left: 10px;

      &:first-child {
        padding-left: 0;
      }
    }
  }
  .t, .t:visited {
    color: #EBC181;
  }
  .s, .s:visited {
    color: #91A7BA;
  }
  .c, .c:visited {
    color: #bababa;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}
